<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>주소로 장소 표시하기</title>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=405c285f704f2770e6ceff445cb6e60f&libraries=services"></script>
</head>
<body>
	<h1>Address List</h1>
    <div>
        <ul>
            <!-- 주소 데이터 리스트 반복 출력 -->
            <li th:each="address : ${addresses}" th:text="${address}">Address</li>
        </ul>
    </div>
<div id="map" style="width:100%;height:350px;"></div>
<script>

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = {
            center: new kakao.maps.LatLng(37.5665, 126.9780), // 지도의 중심좌표
            level: 7 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    
   	var s
    
    var geocoder = new kakao.maps.services.Geocoder();

    addresses.forEach(function(addr) {
        // addr 객체에서 address 속성으로 주소를 가져옵니다.
        geocoder.addressSearch(addr.address, function(result, status) { 
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });

                var infowindow = new kakao.maps.InfoWindow({
                    content: '<div style="width:150px;text-align:center;padding:6px 0;">' + addr.address + '</div>'
                });

                infowindow.open(map, marker);

                // 중심 좌표를 재조정합니다.
                map.setCenter(coords);
            } 
        });
    });
</script>
</body>
</html>